body {
    font-family: monospace;
    cursor: pointer;
    font-size: large;
    user-select: none;
    margin-left: 30%;
}

.justify{
    text-align: justify;
}

.c:hover {
    color: white;
    background-color: tomato;
    cursor: none;
}

.c {
    color: tomato;
    background-color: white;
}