body {
    font-family: monospace;
    cursor: default;
    font-size: large;
    text-align: justify;
    user-select: none;
    margin-left: 30%;
}

.c {
    color: blanchedalmond;
    background-color: darkred;
    cursor: pointer;
}

.c:hover {
    color: darkred;
    background-color: blanchedalmond;
}