body {
    font-family: monospace;
    cursor: default;
    font-size: large;
    text-align: center;
    user-select: none;
}

.changer {
    color: blanchedalmond;
    background-color: brown;
    cursor: pointer;
}

.changer:hover {
    color: brown;
    background-color: blanchedalmond;
}